.big-christmas-box-pack {
  --section-width: 1280;
  --section-height: 700;

  --pack-width: 444;

  display: block;

  width: 100%;

  min-height: calc(var(--section-height) * 1px);

  max-width: unset;

  margin: -80px 0 0;

  padding-top: 80px;

  background-color: transparent;

  overflow: hidden;

  &__wrapper {
    position: relative;

    width: 100%;

    padding-top: 200px;
    padding-bottom: 100px;

    @media (max-width: 665px) {
      padding-top: 250px;
    }
  }

  &__left {
    position: absolute;

    top: calc(153.36 / var(--section-height) * 100%);
    left: calc(-60.87 / var(--section-width) * 100%);

    z-index: 100;

    width: calc(178.44 / var(--section-width) * 100%);

    img {
      position: relative;

      z-index: 10;

      width: 100%;
      height: auto;
    }

    @media (max-width: 1023px) {
      display: none;
    }

    &-text {
      position: absolute;

      top: 55%;
      left: 54%;

      z-index: 11;

      display: flex;

      align-items: center;
      justify-content: center;

      width: 198px;
      height: 135px;

      background: url(../img/icons/cloud-eat.svg) no-repeat center / contain;

      p {
        font-family: "Circe";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        /* or 112% */

        text-align: center;

        color: #043314;

        transform: rotate(-16.61deg);
      }
    }
  }

  &__center {
    position: relative;

    width: calc(var(--pack-width) / var(--section-width) * 100%);

    max-width: calc(var(--pack-width) * 1px);

    margin: 0 auto;

    text-align: center;

    @media (max-width: 1023px) {
      width: 100%;
    }
  }

  &__pack {
    position: relative;

    z-index: 10;

    display: block;

    width: 100%;
  }

  &__snail {
    position: absolute;

    top: calc(-21 / 358 * 100%);
    left: calc(160 / var(--pack-width) * 100%);

    z-index: 11;

    width: calc(98 / var(--pack-width) * 100%);

    img {
      width: 100%;
      height: auto;

      object-position: center;
      object-fit: contain;
    }

    &-text {
      position: absolute;

      top: -67%;
      left: 86%;

      display: flex;

      align-items: center;
      justify-content: center;

      width: 200px;
      height: 100px;

      min-width: 201px;
      max-width: 250px;

      min-height: 120px;

      padding: 15px 30px;

      background: url(../img/icons/cloud-orange-big.svg) no-repeat center center /
        contain;

      @media (max-width: 767px) {
        top: -100%;
        left: 44%;

        min-width: 154px;
      }

      p {
        position: relative;

        z-index: 2;

        font-family: "Circe";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        /* or 112% */

        text-align: center;

        color: #043314;

        transform: rotate(-14.26deg);

        @media (max-width: 767px) {
          font-size: 12px;
          line-height: 16px;
        }
      }
    }
  }

  &__fruit {
    &--1 {
      top: calc(154 / var(--section-height) * 100%);
      left: calc(185 / var(--section-width) * 100%);

      width: calc(60 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        top: 138px;
        left: 37px;

        width: 31px;
      }
    }

    &--2 {
      top: calc(410 / var(--section-height) * 100%);
      left: calc(137 / var(--section-width) * 100%);

      width: calc(80 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        top: 195px;
        right: -6px;
        left: auto;

        width: 28px;
      }
    }

    &--3 {
      top: calc(494 / var(--section-height) * 100%);
      left: calc(20 / var(--section-width) * 100%);

      width: calc(86 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        top: 541px;
        right: 7.67px;
        left: auto;

        width: 48.33px;
      }
    }

    &--4 {
      top: calc(289 / var(--section-height) * 100%);
      right: calc(189 / var(--section-width) * 100%);

      width: calc(70 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        top: 216px;
        right: auto;
        left: 68px;

        width: 30.22px;
      }
    }

    &--5 {
      top: calc(282 / var(--section-height) * 100%);
      right: calc(-61.15 / var(--section-width) * 100%);

      width: calc(151.15 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        top: 286px;
        right: -32px;

        width: 61px;
      }
    }

    &--6 {
      top: calc(420 / var(--section-height) * 100%);
      right: calc(43 / var(--section-width) * 100%);

      width: calc(180 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        top: 202px;
        right: auto;
        left: -49px;

        width: 102px;
      }
    }

    &--7 {
      display: none;

      @media (max-width: 1023px) {
        top: 546px;
        left: -9px;

        display: block;

        width: 42px;
      }
    }
  }
}
