.lucky-ticket-top {
  @media (max-width: 1023px) {
    min-height: 785px;
  }

  .top__inner {
    margin-top: 246px;

    @media (max-width: 1023px) {
      margin-top: 110px;
    }
  }

  .top__head {
    z-index: 11;

    width: 100%;

    h1 {
      font-size: 112px;
      line-height: 75px;
      letter-spacing: 0;

      @media (max-width: 767px) {
        font-size: 70px;
        line-height: 64px;
      }

      & + p {
        margin-top: 22px;

        @media (max-width: 767px) {
          margin-top: 24px;
        }
      }
    }

    h2 {
      max-width: 585px;

      margin-right: auto;
      margin-left: auto;

      font-size: 24px;
      line-height: 31px;
      letter-spacing: 0.48px;

      @media (max-width: 767px) {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.36px;
      }

      @media (max-width: 665px) {
        max-width: 300px;
      }

      & + img {
        margin-top: 14px;

        @media (max-width: 767px) {
          margin-top: 15px;
        }
      }
    }

    p {
      max-width: 622px;

      margin-right: auto;
      margin-left: auto;

      font-size: 20px;
      line-height: 28px;

      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
      }

      & + p {
        margin-top: 7px;

        @media (max-width: 767px) {
          margin-top: 14px;
        }
      }

      & + h2 {
        margin-top: 19px;

        @media (max-width: 767px) {
          margin-top: 16px;
        }
      }
    }

    img {
      display: block;

      width: 289px;

      max-width: 100%;

      margin: 0 auto;
    }
  }

  &__image {
    &--1 {
      top: calc(131 / 737 * 100%);
      left: calc(-52 / 1280 * 100%);

      width: calc(118.37 / 1280 * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &--2 {
      top: calc(154 / 737 * 100%);
      left: 267px;

      width: calc(50 / 1280 * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &--3 {
      top: calc(217 / 737 * 100%);
      left: calc(101 / 1280 * 100%);

      width: calc(56 / 1280 * 100%);

      @media (max-width: 1023px) {
        top: 159px;
        right: -29px;
        left: auto;

        width: 56px;

        transform: rotate(31deg);
      }
    }

    &--4 {
      top: calc(406 / 737 * 100%);
      left: calc(247 / 1280 * 100%);

      width: calc(69 / 1280 * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &--5 {
      top: calc(470 / 737 * 100%);
      left: calc(41 / 1280 * 100%);

      width: calc(125.11 / 1280 * 100%);

      @media (max-width: 1023px) {
        top: 650px;
        left: -18px;

        width: 125.11px;

        rotate: -45deg;
      }
    }

    &--6 {
      top: calc(131 / 737 * 100%);
      right: calc(241 / 1280 * 100%);

      width: calc(60 / 1280 * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &--7 {
      top: calc(238 / 737 * 100%);
      right: calc(78 / 1280 * 100%);

      width: calc(70 / 1280 * 100%);

      @media (max-width: 1023px) {
        top: calc(443 / 737 * 100%);
        right: auto;
        left: -25px;

        width: 70px;
      }
    }

    &--8 {
      top: calc(428 / 737 * 100%);
      right: calc(65 / 1280 * 100%);

      width: calc(83 / 1280 * 100%);

      @media (max-width: 1023px) {
        top: 67px;
        right: auto;
        left: 10px;

        width: 46px;
      }
    }

    &--9 {
      top: calc(511 / 737 * 100%);
      right: calc(215 / 1280 * 100%);

      width: calc(86 / 1280 * 100%);

      @media (max-width: 1023px) {
        top: 594px;
        right: -36px;

        width: 86px;
      }
    }
  }
}
