.advent-calendar-composition {
  --section-width: 1280;

  .composition__inner {
    padding-bottom: 0;
  }

  &__head {
    margin-bottom: 70px;

    h2 {
      margin-bottom: 40px;

      padding: 0 10px;
    }

    p {
      padding: 0 10px;

      font-family: "Circe";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      /* or 140% */

      text-align: center;

      color: #043314;

      & + p {
        padding-top: 20px;
      }
    }
  }

  &__tabs {
    .content__list {
      grid-template-columns: repeat(3, 1fr);

      gap: 48px;

      @media (max-width: 1023px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 665px) {
        grid-template-columns: 100%;
      }
    }

    .content__item {
      max-width: 100%;

      @media (max-width: 1023px) {
        &:last-child:nth-child(3n) {
          grid-column: 1/3;
        }
      }

      @media (max-width: 665px) {
        &:last-child:nth-child(3n) {
          grid-column: 1/2;
        }
      }
    }

    .content__image {
      position: relative;

      height: auto;

      max-width: 223px;

      margin-bottom: 24px;

      &::before {
        display: block;

        padding-bottom: calc(245 / 223 * 100%);

        content: "";
      }

      img {
        position: absolute;

        top: 0;
        left: 0;
      }
    }

    .content__descr {
      * + * {
        margin-top: 16px;
      }
    }
  }

  &__fruit {
    &--1 {
      top: -20px;
      right: calc(163 / var(--section-width) * 100%);

      width: calc(86 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &--2 {
      top: 156px;
      left: calc(150 / var(--section-width) * 100%);

      width: calc(60 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }

    &--3 {
      bottom: 17px;
      right: calc(82 / var(--section-width) * 100%);

      width: calc(86 / var(--section-width) * 100%);

      @media (max-width: 1023px) {
        display: none;
      }
    }
  }
}
