@font-face {
  font-family: "BebasNeuePro";
  src: url("../fonts/BebasNeuePro/BebasNeuePro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
